/* This is the comment of this css file */
/* Don't know how to use it yet */

/* h1
{
    color: #F67EC2
} */

.title
{
    text-align: center;
    font-size: 40px;
    /* font-size: 20vh; */
}

.intro
{
    color: darkblue;
    text-align: center;
    font-size: 150%;
    border: 1px solid black;
}

.top1
{
    color: green;
    font-size: 0.5cm;
    line-height: 1cm;
    text-decoration: overline;
    display: block;
    display: flex;
}

.top2
{
    color: hsl(176, 100%, 35%);
    font-size: 0.5in;
    text-decoration: line-through;
    display: inline;
}

.top3
{
    color: rgb(160, 183, 225);
    text-decoration: underline;
}

.top4
{
    text-decoration: underline overline;
}

.box {
    background-color: #567895;
   /*  display: none; */
   /* This is fun, allthing dispear */
  }
  
  h2 {
    background-color: black;
    color: white;
  }
  span {
    background-color: rgba(255,255,255,.5);
  }

  .wrapper {
    font-size: 1em;
    /* font-size: 15px; */
    line-height: 40px;
  }
  
  .px {
    width: 200px;
  }
  
  .vw {
    width: 10vw;
  }
  
  .em {
    width: 10em;
  }
    
  .box1
  {
      color: rgb(16, 10, 100);
      max-width: 150px;
  }

  .box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 200px;
  }
  
  .alternate {
    box-sizing: border-box;
  }

  .box2 {
    margin-top: -40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
    border-width: 1em;
    border-style: inset;
    border-color: red yellow green hsla(60, 90%, 50%, .8);
    border-radius: 25px;
    min-width: 150px;
    position: relative;
  }
      
  .one {
    margin-bottom: 50px;
    margin-top: 1em;
    position: static;
  }
  
  .two {
    margin-top: 30px;
    position: sticky;
  }
     
  .box3 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
  }
  
  .container1 {
    padding: 20px;
    border-width: 1em;
    border-style: inset;
    border-color: red yellow green hsla(60, 90%, 50%, .8);
    border-radius: 25px;
  }


  /* very cool topic here */
  * {
    box-sizing: border-box;
  }
  
  dl > div {
    background: #FFF;
    padding: 24px 0 0 0;
  }
  
  dt {
    background: #B8C1C8;
    border-bottom: 1px solid #989EA4;
    border-top: 1px solid #717D85;
    color: #FFF;
    font: bold 18px/21px Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
  }
  
  dd {
    font: bold 20px/45px Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 0 0 12px;
    white-space: nowrap;
  }
  
  dd + dd {
    border-top: 1px solid #CCC;
  }

  /*  */

  a {
    background-color: powderblue;
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: gold;
  }

  a:active
  {
      color: red;
  }

 /*  button :active{
      color: red;
  } */

  .flex-container
  {
    display: flex;
/*     flex-direction: column; */
/*     flex-grow: 4;
    flex-shrink: 3; */
  }

  .flex-container1>div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-direction: row;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }