/* This is the comment of this css file */
/* Don't know how to use it yet */

/* h1
{
    color: #F67EC2
} */

.title
{
    text-align: center;
    font-size: 30px;
}

.intro
{
    color: blue;
    text-align: center;
}

.top1
{
    color: green;
}

.top2
{
    color: hsl(176, 100%, 35%);
}

.top3
{
    color: rgb(160, 183, 225);
}

.box {
    background-color: #567895;
  }
  
  h2 {
    background-color: black;
    color: white;
  }
  span {
    background-color: rgba(255,255,255,.5);
  }

  .wrapper {
    font-size: 1em;
  }
  
  .px {
    width: 200px;
  }
  
  .vw {
    width: 10vw;
  }
  
  .em {
    width: 10em;
  }
    
  .box1
  {
      color: rgb(16, 10, 100);
  }

  